@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@font-face {
    font-family: "Ionicons";
    src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1"); src: url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.1#iefix") format("embedded-opentype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.1") format("truetype"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.1") format("woff"), url("https://code.ionicframework.com/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.1#Ionicons") format("svg"); font-weight: normal; font-style: normal;
}

#second-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    z-index: -2;
    background-image: url(../media/images/background-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#pb-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 300px;
    margin: 50px 0px 50px 0px;
}

#pb-div #progressbar ul {
    overflow: hidden;
    position: absolute;
}

#pb-div #progressbar li {
    list-style-type: none;
    color: #99A2A8;
    font-size: 9px;
    width: calc(100%/4);
    float: left;
    position: relative;
    text-align: center;
}

#pb-div #progressbar {
    width: 100%;
}

#pb-div #progressbar li:nth-child(1):before {
    content: "\f36f";
}

#pb-div #progressbar li:nth-child(2):before {
    content: "\f493";
}

#pb-div #progressbar li:nth-child(3):before {
    content: "\f2ba";
}

#pb-div #progressbar li:before {
    content: "\f122";
    font: normal normal normal 30px/50px Ionicons;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    background: #EAF0F4;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    text-align: center;
    position: relative;
    z-index: 10;
}

#pb-div #progressbar li:after {
    content: '';
    width: 92%;
    height: 10px;
    background:#EAF0F4;
    position: absolute;
    top: 15px;
    left: -41.8%;
}

#pb-div #progressbar li:last-child:after {
    width: 200%;
}

#pb-div #progressbar li.active {
    color: #5CB85C;
}

#pb-div #progressbar li.active:before, #pb-div #progressbar li.active:after {
    background: #5CB85C;
    color: #FFF;
}

#test {
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    min-width: 130px;
    font: 700 14px/40px "Roboto", sans-serif;
    border: 1px solid #99a2a8;
    margin: 0 5px;
    text-transform: uppercase;
    display: inline-block;
    background: transparent;
    color: #99a2a8;
}

#test:focus {
    background: #405867;
    border-color: #405867;
    color: #fff;
}

#test:hover, #test:focus {
    background: #405867;
    border-color: #405867;
}

#test-div {
    width: 100vw;
    min-width: 270px;
    overflow-x: auto;
}

#second-section #container {
    height: auto;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #F1F1F1;
    min-width: 270px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 80px 0px 10px 0px;
}