body{
    background-color:#034651;     
}
.imagenes{
    width: 100%;
    height: 650px;
    background-image:url(../mecanico.jpg); 
	background-attachment: fixed;
	background-position:center; 
	background-size:cover;
	position: relative;
	overflow: hidden;
	color:#FFF;
	text-align: center; 
}
footer{
    height: 20%;
    background:#1e262a;
}

